body {
	color: #444;
	line-height: 1.7em;
}
.bg-dark {
	background-color: #001 !important;
}

.hero {
	min-height: 300px;
	padding-top: 5em;
	background-color: #131525;
	color: #fff;
}

.hero .logo {
	border: 1px solid #fff; padding: -40px;
	width: 500px;
}

.highlights .row div {
	text-align: center;
	min-height: 150px;
	margin: 2em 0 2em 0;
	padding: 3em 0 3em 0;
}

.highlights {
	background-color: #131525;
	color: #fff;
}

.highlights .row div {
	padding: 30px 20px 10px 20px;
}

.highlights .row div:hover {
    -webkit-transform: scale(1.1);
}

h1, h2 {
	font-weight: 200;
	text-transform: uppercase;
}

.highlights p {
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
}

.highlights img {
	max-width: 100px;
	height: auto;
	margin: 0 0 1em 0;
}

.highlights div.row div:hover {
	background-color: #232535;
}

a.btn-primary {
	background-color: #528093;
	border: #528093;
}

a.btn-primary:hover {
	background-color: #3298c2;
    -webkit-transform: scale(1.1);
}

.darker {
	margin: 2em 0 2em 0;
	padding: 4em;
	background-color: #131525;
	color: #fff;
}

.darker2 {
	margin: 2em 0 2em 0;
	padding: 4em;
	background-color: #528093;
	color: #fff;
}

.darker a:link,
.darker a:visited,
.darker2 a:link,
.darker2 a:visited {
	color: #fff;
	font-weight: bold;
}

.anchor {padding-top: 20px;}

.logos img {
	max-width: 360px;
	padding: 10px;
	height: auto;
}

.blockquote {
	font-size: 24pt;
	line-height: 1.4em;
	font-style: italic;
	font-weight: 200;
	text-align: center;
	padding: 1em;
	margin: 1em;
	border-top: 4px solid #eee;
	border-bottom: 4px solid #eee;
}

.blockquote footer {
	font-size: 12pt;
}

div.aboutus blockquote {
	font-size: 14pt;
}