.page {
    min-height: 300px;
    page-break-after: always;
    
}

.row {
    margin-top: 10px;
    display: flex;
    width: 100%;
    min-height: 180px;
    justify-content: center;
}

.row.center { align-items: center; }    

.cell {
    width: 47%;
    padding: 20px;
    min-height: 100px;
    text-align: center;
}

.cell.long {
    height: 700px;
}

.cell.wide {
    flex: 2 100%;
}

.cell.wide.beacon {
    max-height: 380px;
    background: radial-gradient(farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.1), 
        rgba(0,0,0, 0.3) ), 
        url(beacon.jpg);
    background-position: 0 70%;
    background-size: cover;
    height: 500px;
    color: #fff;
    font-size: 30px;
}

.cell.pic {
   background-repeat: no-repeat; 
   min-height: 250px;
   background-size: contain;
}

.cell.pic.beaconpic { background-image: url("beaconpic.svg");}
.cell.pic.physical { background-image: url("physical.svg");}
.cell.pic.virtual { background-image: url("virtual.svg");}
.cell.pic.oneamong { background-image: url("one-among-others.svg");}
.cell.pic.complex { background-image: url("complex.jpg");}
.cell.pic.encryption { background-image: url("encryption.jpg");}
.cell.pic.oneway { background-image: url("oneway.jpg");}
.cell.pic.disposable { background-image: url("disposable.jpg");}