.container {
  display: flex; /* or inline-flex */
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.item {
    height: 300px;
    background: #fff;
    padding: 0px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    flex-basis: 50%; 
    font-family:  "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.item.short {
    height: 200px;
}

.item.wide {
    flex: 2 100%;
    height: 100px;
    background-color: #555;
    color: #fff;
    page-break-before: always;
    break-before: always;
    break-after: always;

}

p {
    padding: 10px;
}

.item.physical {
    background-image: url("rasberry.jpg");
}

.item.band {
    height: 400px;
    background-image: url("band.jpg");
}

.item.beacon {
    background: radial-gradient(farthest-side at 50% 100%,rgba(0, 0, 0, 0.1), rgba(0,0,0, 0.3) ), url(beacon.jpg); 
    /* https://www.pexels.com/photo/white-light-house-under-white-sky-179099/ */
    flex: 2 100%;
    background-size: cover;
    background-position: 0 70%;
    height: 500px;
    color: #fff;
    font-size: 30px;
}

.item.disposable {
    background-image: url("disposable.jpg");
}

.item.eleven {
    background-image: url("eleven.jpg");
}

.item.encryption {
    background-image: url("encryption.jpg");
}

.item.privacy {
    background-image: url("privacy.jpg");
}

.item.kiss {
    background-image: url("kiss.jpg");
}

.item.onewaypic {
    background-image: url("oneway.jpg");
}

.item.spawn { height: 250px; }

.item.replace { height: 250px; }

.item.virtual {
    background-image: url("virtual.jpg");
}
/* 
.c1 { background-color: #555;}
.c2 { background-color: #fff;}
.c3 { background-color: #888;}
.c4 { background-color: #aaa;}
 */

img { 
  object-fit: cover;
}

@media only screen
and (max-width : 600px) {
    .item {
        flex-basis: 100%;
        height: 250px;}
    .t1 { order: 1; }
    .c1 { order: 2; }
    .t2 { order: 3; }
    .c2 { order: 4; }
    .t3 { order: 5; }
    .c3 { order: 6; }
    .item.band {
    height: 300px;
}

@media print {
    .item.wide {
        break-before: always;
        break-after: always;
        background-color: #ff0;
    }
    h2 {
        page-break-before: always;
        page-break-after: always;
    }

}

div.wrapper {
    /* margin: 0px; */
    align-content: center;
    max-width: 1000px;
}