<section class="content-section-a madeby parallax">

    <div class="container">
        <div class="row">
            <div class="col-lg-10 mr-auto">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h1 class="section-heading">Made with ✂ in Finland</h1>
            </div>
        </div>
    </div>
</section>
<section class="content-section-b">
    
    <div class="container">        
        <div class="row">
            <div class="col-lg-6 mr-auto order-lg-2">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2>Founded By </h2>
                <p class="lead">We founded SensorFu to get back to the basics. Information security 
                    requirements keep piling up. IT-systems and security products get more complex by 
                    the day. We  help our customers  
                    making sure their security policies are, and stay sealed. 
                    Our first product, the Beacon, focuses on network segregation. </p>
                
                <p class="lead"> Mikko: <em>"I wanted to"</em></p>
                <p class="lead"> Ossi: <em>"I wanted to"</em></p>
                <p class="lead"> Sebastian: <em>"I wanted to"</em></p>
                
            </div>
            <div class="col-lg-6 mr-auto order-lg-2">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2>Funded By </h2>
                <p class="lead"> asdfkjadsfljasd fljasflajdsklsfd </p>
            </div>
        </div>
    </div>
</section>