<section class="content-section-a">
        
    <div class="container">        
        <div class="row">
            <div class="col-lg-6 mr-auto order-lg-2">
                <img src="team.jpg" class="img-fluid">
                <!-- back to basiscs / ABC comments here -->
            </div>
            <div class="col-lg-6 mr-auto order-lg-2">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2>Made with love </h2>
                <p> asdfkjadsfljasd fljasflajdsklsfd </p>
            </div>
        </div>
    </div>
</section>